*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

img, svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

h3 {
  color: #FF8901;
}

ul {
  color: #f1f1f1;
}

.bg-icones {
  background-image: url(/img/asfalto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  height: 800px;
  width: 100%;
  background-image: "/img/asfalto.jpeg";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1160px) {
  .container {
    height: auto;
    padding: 15px;
  }
}

.container h3 {
  color: #f1f1f1;
}

.corpo-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1200px;
  height: 95%;
}

@media screen and (max-width: 1160px) {
  .corpo-site {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
}

.icones-linha {
  width: 1100px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1160px) {
  .icones-linha {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: auto;
    width: 100vh;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.bloco {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1160px) {
  .bloco {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.bloco-icone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bloco-icone img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.bloco-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
  text-align: center;
}

.bloco-texto a {
  color: #f1f1f1;
}

.rodape {
  width: 100%;
  height: auto;
  background: radial-gradient(100% 1486.43% at 100% 100%, #003962 0%, #004678 100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1160px) {
  .rodape {
    height: auto;
  }
}

.menus-rodape {
  width: 1200px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
}

@media screen and (max-width: 1160px) {
  .menus-rodape {
    height: auto;
    width: 100vh;
  }
}

.menu1 {
  width: 190px;
  height: 180px;
}

.h3-menu1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
}

.ul-menu1 li {
  margin-bottom: 4px;
}

.menu2 {
  width: 190px;
  height: auto;
}

.h3-menu2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
}

.ul-menu2 li {
  margin-bottom: 4px;
}

.menu3 {
  width: 190px;
  height: auto;
}

.h3-menu3 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
}

.ul-menu3 {
  text-decoration: none;
}

.menu4 {
  width: 190px;
  height: auto;
}

.h3-menu4 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
}

.ul-menu4 li {
  margin-bottom: 4px;
}

.menu5 {
  width: 190px;
  height: 85px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h3-menu5 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
}

.h3-menu5 a {
  color: #FF8901;
}

.h3-menu5 a:hover {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f1f1f1;
  background-color: #FF8901;
  width: 125px;
  border-radius: 6px;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

li a:hover {
  color: #FF8901;
}

.footer {
  width: 100%;
  height: 40px;
  background: #003052;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f1f1f1;
}

.flip-card {
  width: 180px;
  height: 180px;
  -webkit-perspective: 8000px;
          perspective: 8000px;
}

@media screen and (max-width: 1160px) {
  .flip-card {
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media screen and (max-width: 1160px) {
  .flip-card-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

@media screen and (max-width: 1160px) {
  .flip-card-front {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flip-card-back {
  padding: 10px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #005217;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media screen and (max-width: 1160px) {
  .flip-card-back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flip-card-back p {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-top: 10px;
}

@media screen and (max-width: 1160px) {
  .flip-card-back p {
    font-size: 13px;
  }
}

.logo-ro {
  max-width: 88px;
  min-width: 72px;
}

.logo-transp {
  width: 240px;
}

@media screen and (max-width: 1160px) {
  .logo-transp {
    display: none;
  }
}

.section1 {
  background: #f1f1f1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1160px) {
  .nav-bar1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navbar1-divlogo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1160px) {
  .navbar1-divlogo1 {
    width: 620px;
  }
}

.texto1-navbar1 {
  text-transform: uppercase;
  text-align: center;
  font-size: x-large;
  margin-left: 15px;
}

.texto2-navbar1 {
  width: 280px;
  margin-right: 350px;
  font-size: x-large;
}

.nav-bar2 {
  width: 100%;
  height: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#004313), to(#007A22));
  background: linear-gradient(90deg, #004313 0%, #007A22 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar2-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 10px;
  text-transform: uppercase;
  font-size: 13px;
}

@media screen and (max-width: 1160px) {
  .navbar2-ul {
    width: 100vh;
  }
}

.navbar2-ul li {
  list-style-type: none;
  height: 40px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1160px) {
  .navbar2-ul li {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navbar2-ul li:hover {
  background-color: #01310e;
}

.navbar2-ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f1f1f1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.navbar2-ul li a:hover {
  color: #FF8901;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.navbar2-ul ul {
  position: absolute;
  min-width: 200px;
  display: none;
  background-color: #007a23da;
}

.navbar2-ul ul li {
  display: block;
}

ul li:hover ul {
  margin-top: 34px;
  display: block;
  position: absolute;
  z-index: 1;
}

.drop-menu {
  text-transform: none;
  text-align: center;
}

.menu-mobile {
  width: 40px;
  height: 40px;
  display: none;
  margin-right: 12px;
}

@media screen and (max-width: 1160px) {
  .menu-mobile {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */