
.bg-icones {
    background-image: url(/img/asfalto.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container {
    height: 800px;
    width: 100%;
    background-image: "/img/asfalto.jpeg";
    display: flex;
    align-items: center;
    justify-content: center;


    @include responsive(){
        height: auto;
        padding: 15px;
    }
}

.container h3 {
    color: #f1f1f1;
}

.corpo-site {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 95%;


    @include responsive(){
        flex-wrap: wrap;
        height: auto;
    }
}

.icones-linha{
    width: 1100px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
 

    @include responsive(){
        justify-content:space-around;
        height: auto;
        width: 100vh;
        margin-bottom: 10px;
        margin-top: 10px;
    }

}

.bloco {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    position: relative;


    @include responsive(){
        display: flex;

    }
   
}
.bloco-icone {
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
}
.bloco-icone img {
    display: flex;
    width: auto;
}
.bloco-texto {
    display: flex;
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    text-align: center;
}
.bloco-texto a {
    color: #f1f1f1;
}
.rodape {
    width: 100%;
    height: auto;
    background: radial-gradient(100% 1486.43% at 100% 100%, #003962 0%, #004678 100%);
    align-items: center;
    justify-content: center;
    display: flex;

    @include responsive(){
        height: auto;
    }

}

.menus-rodape {
    width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;

    @include responsive(){
        height: auto;
        width: 100vh;
    }
}

.menu1 {
    width: 190px;
    height: 180px;

    
}


.h3-menu1 {
    justify-content: center;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
}
.ul-menu1 li{
    margin-bottom: 4px;
}

.menu2 {
    width: 190px;
    height: auto;
}
.h3-menu2 {
    justify-content: center;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
}

.ul-menu2 li {
    margin-bottom: 4px;
}
.menu3 {
    width: 190px;
    height: auto;


}
.h3-menu3 {
    justify-content: center;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
}

.ul-menu3 {
    text-decoration: none;
}
.menu4 {
    width: 190px;
    height: auto;
}
.h3-menu4 {
    justify-content: center;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
}

.ul-menu4 li {
    margin-bottom: 4px;
}

.menu5 {
    width: 190px;
    height: 85px;
    align-items: center;
    justify-content: center;

}
.h3-menu5 {
    justify-content: center;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
}
.h3-menu5 a {
    color: #FF8901;
}
.h3-menu5 a:hover {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
    background-color: #FF8901;
    width: 125px;
    border-radius: 6px;
    transition: .7s ease;
}

li a:hover {
    color: #FF8901;
}
.footer{
    width: 100%;
    height: 40px;
    background: #003052;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
}




.flip-card {
    width: 180px;
    height: 180px;
    perspective: 8000px;

    @include responsive(){
        width: 150px;
        height: 150px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;

    @include responsive(){
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: transparent;
    color: black;

    @include responsive(){
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

  }
  
  .flip-card-back {
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #005217;
    color: white;
    transform: rotateY(180deg);

    @include responsive(){
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }


  }

  .flip-card-back p {
      font-size: 15px;
      display: flex;
      height: 100%;
      padding-top: 10px;

      @include responsive(){
        font-size: 13px;
    }
  }
